* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(88, 88, 88, 0.6);
    transition-property: background-color;
    transition-duration: .5s;
}

/* Add paddin to hole bar */
window#waybar>box {
    padding: 6px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(241, 196, 15, 0.8);
}

.modules-right,
.modules-left,
.modules-center {
    padding: 4px 10px;
    background-color: rgba(88, 88, 88, 1.0);
    border-radius: 20px;
    /* box-shadow: rgba(20, 20, 20, 1.0) 2px 2px 4px; */
    box-shadow: rgb(200, 200, 200) 1px 1px 3px 0px inset, rgba(200, 200, 200, 0.5) -1px -1px 3px 1px inset;

}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#window,
#bluetooth,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#idle_inhibitor{
    padding: 0 10px;
    color: #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: #ffffff;
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
    color: #000000;
}

#custom-media.custom-spotify {
}

#temperature {
}

#temperature.critical {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}
