:vars {
  --foreground: #e5e1e9;
  --background: #131318;
  --cursor: #e5e1e9;
  --primary: #c5c0ff;
  --on-primary: #2d2960;
  --secondary: #c7c4dc;
  --on-secondary: #302e42;
  --tertiary: #ebb9d0;
  --on-tertiary: #472538;
  --surface: #131318;
  --surface-bright: #3a383f;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #928f99;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #b8cf84;
  --yellow-dim: #000000;
  --blue: #c2c1ff;
  --blue-dim: #000000;
  --magenta: #e4b7f3;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
