/* -- Global rules -- */
@define-color background #161320;

* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

.module {
  color: #ffffff;
}

.modules-left {
  margin: 10 0 5 10;
  padding-left: 10px;
  background: alpha(@background, .8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  margin: 10 10 5 0;
  border-radius: 10px;
  background: alpha(@background, .8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

/* - Genera rules for visible modules -- */
/* #custom-archicon, */
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#wireplumber,
#network,
#language {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#wireplumber,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
}


#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.active:hover {}

/* Modules right */
#network {
  padding-right: 13px;
}

#language {
  padding-right: 15px;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 1.0);
  border-radius: 10px;
}

tooltip label {
  color: white;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
